/***
 @author ----- yangxian 
 @design ----- dengsijie
 @time   ----- 2017-08-10
***/
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;}ol,ul,input{margin:0; padding:0;}body,button,input,select,textarea{font:12px/1.5 \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53,sans-serif;outline:none;}ul,ol{list-style:none;}a{text-decoration:none;outline:0 none;}img{border:0;}table{border-collapse:collapse;border-spacing:0;}button{cursor:pointer;}i{font-style:normal;}
.fix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.fix{*zoom:1;}
.hide{display:none;}
.fc_red{ color:#f3730e;}


.pay_pop_wp{ background:#fff; border: #eaeaea solid 1px; box-shadow:0 0 5px #1a2c49; color:#999;width:720px; position: relative; }
.pay_pop_wp01{ width: 600px;}
.pay_pop_wp02{ width: 500px;}
.pay_pop_hd{ background:url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat; height:34px; position:relative;}
.pay_pop_hd h3{ font-size:16px; font-weight:normal; color:#fff; line-height:34px; width: 120px; text-align: center;}
.pay_pop_clo{ background:url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat -186px -42px; position:absolute; top:14px; right:18px; width:12px; height:12px; text-indent:-999em;}
.pay_pop_cont{ background:#fff; color:#666; position:relative; padding:0 20px 10px; }

/* basic style */
.img_wp img{display: block; width: 100%; height: 100%;}
.lastdiv{margin-right: 0 !important;}
.price_txt{margin: 16px 0 7px; font-size: 14px;}
.no_mgt { margin-top: 0 !important; }
.price_num { color: #fc8321; }
.price_num em{ font-size: 24px;}
.tip_grey{font-size: 14px; line-height: 1.5; color: #969696;}
.tip_grey a{color: #969696;}
.tip_grey a:hover{text-decoration: underline;}
.tip_orange { font-size: 12px; color: #fc8321; }
a.tip_orange:hover { text-decoration: underline; }
.btn_orange{display: inline-block; width: 164px; height: 50px; line-height: 50px; color: #fff; font-size: 14px; text-align: center; background: #fc8321; transition: .2s;}
.btn_orange:hover{background: #fe9525;}

.ico_warn34x34,.ico_warn48x48, .ico_suc48x48{display: inline-block; vertical-align: middle; margin-right: 12px; width: 48px; height: 48px; background: url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat}
.ico_warn48x48{ background-position:0 -42px;}
.ico_warn34x34{ background-position:-118px -108px; width: 34px; height: 34px;}
.ico_suc48x48{ background-position: -59px -42px;}

.mark_tui{position: absolute; right: 0; top: 0; width: 59px; height: 59px; line-height: 59; background: url(http://act.niu.xunlei.com/niuxpayts/img/ico_spr.png) no-repeat -150px -200px; overflow: hidden;}

.overhid{overflow: hidden;}
.txtcent{text-align: center;}
.mlr30{margin-left: 30px; margin-right: 30px;}
.mt28{margin-top: 28px !important;}
/* .mt30{margin-top: 30px;} */
.mt40{margin-top: 40px !important;}
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.ml70{margin-left: 70px;}
.plr45{padding: 0 45px;}
.pl45{padding-left: 45px;}
.pl90{padding-left: 90px !important;}
.pt20{padding-top: 20px;}
.pb40{padding-bottom: 40px;}
.pt65 { padding-top: 65px !important; }
.pt190{padding-top: 190px;}
.pb190{padding-bottom: 190px;}
.top9{top: 9px !important;}
.clr_orange2{color: #fc8321;}
.bb{border-bottom: 1px solid #f5f5f5;}
.bt{border-top: 1px solid #f5f5f5;}
.font14{font-size: 14px;}
/* basic style end */

/* bank logo */
.ico_bank,.bank_alipay,.bank_cft{display: block; width: 120px; height: 33px; background: url(http://act.niu.xunlei.com/niuxpayts/img/spr_bank.png) no-repeat;}

.bank_ccb{background-position: 0 -250px;}
.bank_icbc{background-position: 0 -600px;}
.bank_cmb{background-position: 0 -400px;}
.bank_boc{background-position: 0 -150px;}
.bank_abc{background-position: 0 -50px;}
.bank_ceb{background-position: 0 -300px;}
.bank_cib{background-position: 0 -350px;}
.bank_spdb{background-position: 0 0;}
.bank_pab{background-position: 0 -500px;}
.bank_cmbc{background-position: 0 -450px;}
.bank_bosh{background-position: 0 -200px;}
.bank_bjrcb{background-position: 0 -100px;}
.bank_gdb{background-position: 0 -550px;}
.bank_nbcb{background-position: 0 -650px;}
.bank_bocm{background-position: 0 -1050px;}
.bank_other{background-position: 0 -700px;}
.bank_alipay{width: 124px; height: 38px; background-position: -10px -803px;}
.bank_cft{width: 124px; height: 38px; background-position: -10px -853px;}
.cnmobile{width: 124px; height: 38px; background-position: -10px -903px;}
.unicom{width: 124px; height: 38px; background-position: -10px -953px;}
.telecom{width: 124px; height: 38px; background-position: -10px -1003px;}
/* bank logo end */

/*pay_form*/
.pay_form {}
.fm_group { position: relative; margin: 8px 0 0; padding-left: 90px; font-size: 14px; }
.fm_group .label{position: absolute; left: 0; top: 3px; line-height: 2; font-size: 14px; width: 80px; color: #969696; text-align: right;}
.fm_group .txt_acc{ display: block; line-height: 30px;}
.fm_group .inp_txt { display: inline-block; width: 283px; height: 22px; padding: 2px 10px; margin-right: 10px; border: 1px solid #e6e6e6; vertical-align: top; }
.fm_group .inp_txt_min { width: 88px; clear: both; }
.fm_group .inp_txt_mid { width: 240px; }
.fm_group .inp_txt_mid01 { width: 145px; }
.fm_group .inp_txt:focus { outline: none; }
.fm_group .authcode { display: inline-block; width: 90px; height: 40px; margin-right: 8px; vertical-align: middle; }
.fm_group .authcode img { display: block; width: 100%; height: 100%; border: none; }
.fm_group .tex_tipmsg { margin: 2px 0 -8px 0; font-size: 12px; color: #d02525; }
.fm_group_min { text-align: left; }
.fm_group_min .tex_tipmsg{}
.tip_sticky { display: block;width: 512px; height: 28px; line-height: 28px; background-color: #fff6ef; font-size: 12px; color: #969696; text-align: center; }
.tip_sticky .clr { color: #fc8321; }
.tab_area { overflow: hidden;}
.tab_area .tips{ text-align: left; padding-top: 6px;}
.tab_area .yzm{ display: inline-block; vertical-align: top; width: 82px; height: 34px;}
.tab_area .yzm img{ width: 82px; height: 34px;}
.tab_area .txt_change{display: inline-block; vertical-align: top; line-height: 34px; padding-left: 10px; color: #f15849; text-decoration: underline;}
/*fee choice box*/

.choicebox_wp{position: relative; zoom: 1; padding-top: 2px; overflow: hidden;}
.choicebox_wp .choicebox{position: relative; *overflow: hidden; float: left; margin: 0 8px 4px 0; min-width: 120px; *width:  120px; height: 33px; background: #fff; border: 1px solid #dcdcdc; text-align: center; cursor: pointer;}
.choicebox_wp .overhid{width: 92%;padding-top: 2px;}
.choicebox_wp .choicebox_txt{float: none; width: 303px; height: 33px;}
.choicebox_wp .choicebox_txtmini{margin-right: 5px; width: 148px; min-width: 148px; height: 33px;}
.choicebox_wp .choicebox_txt p,.choicebox_wp .choicebox_txtmini p{line-height: 33px; font-size: 14px;}
/* .choicebox_wp .choicebox:last-child{margin-right: 0;}
.choicebox_wp .choicebox-oth { margin-left: 8px; } */
.choicebox.on{  z-index: 2; *border-color: #fc8321; }
.choicebox.on:before { content: ''; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; border: 2px solid #fc8321; }
.choicebox:hover{border-color: #fc8321; z-index: 1;}
.choicebox img{display: block; margin: 0 auto;}
.choicebox .tit{ display: block; height: 33px; line-height: 33px; font-size: 14px;color: #323232;}
.choicebox .tip{display: block; color: #969696;}
.mark_nian{position: absolute; left: -9px; top: 5px; width: 66px; height: 26px; background: #fc8321; color: #fff; line-height: 26px; text-align: center;}
.mark_nian:after{content: ""; position: absolute; left: 0; bottom: -7px; width: 0; height: 0; border-width: 4px; border-style: solid; border-color: #d66f1c #d66f1c transparent transparent; }
.mark_privilege{position: absolute; right: 0; top: 0; padding: 0 6px; height: 21px; line-height: 21px; color: #fff; background: #fc8321;}
.mark_selected{display: none; position: absolute; right: -1px; bottom: -1px; overflow: hidden; width: 20px; height: 20px; line-height: 30; background: url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat -152px -42px;}
.choicebox.on .mark_selected{display: block;}
.choicebox-oth { *margin-left: 0 !important; }
.choicebox input.num{background:#fff; padding:6px 6px 7px; margin:0 auto; width:84px; height:20px; line-height:20px; text-align: center; outline:none; font-size:14px; border: none; color: #323232; font-weight: normal;}
.choicebox.on input.num{ position: relative; z-index: 10; background: transparent;}
.choicebox .tip_orange{position: absolute; left: -2%; top: 90px; width: 104%;}
.choicebox_large .choicebox { width: 124px; height: 38px;}

/* tab list */
.tab_list{position: relative; height: 46px; border-bottom: 1px solid #e3e3e3; background: #fff; font-size: 0; white-space: nowrap; }
.tab_list a{ display: inline-block; vertical-align: middle; position: relative; padding: 0 9px; height: 46px; line-height: 46px; color: #a8a8a8; font-size: 14px; cursor: pointer; transition: .2s; }
.tab_list a:after { content: ''; position: absolute; right: 0; top: 50%; margin-top: -5px; vertical-align: middle; width: 1px; height: 11px; background: #e3e3e3; }
.tab_list a:hover {color: #fc8321;}
.tab_list a.on{color: #fc8321; border-left-color: #f5f5f5; border-right-color: #f5f5f5; border-bottom-color: #fff; *border-bottom: 2px solid #f3730e; *margin-bottom: -1px;}
.tab_list a.on:before { content: ''; position: absolute; left: 1%; bottom: -2px; width: 98%; height: 3px; background: #f3730e; z-index: 1; }


/*selectbox*/
.selectbox_wp:after{display:block; content:""; clear:both; height:0; position: relative;} 
.selectbox_wp{*zoom:1;}
.select_box{ position: relative; float: left; vertical-align: middle; margin-right: 8px; height: 35px;}
.selected{position: relative; width: 120px; height: 33px; border: 1px solid #e6e6e6; background: #fff;}
.selected a{display: block; padding: 0 43px 0 10px; height: 100%; line-height: 33px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #4e4e4e;}
.select_box .option_open_btn{position: absolute; right: 0; top: 0; width: 33px; height: 33px; cursor: pointer;}
.select_box .option_open_btn i{position: absolute; left: 50%; top: 50%; margin: -3px 0 0 -6px; width: 0; height: 0; overflow: hidden; border-width: 6px 6px 0; border-style: solid dashed ; border-color: #a1a1a1 #fff;}
.select_box .option_open_btn .option_close{border-width: 0 6px 6px;}
.select_box .option_open_btn:hover i{border-color: #fc8321 #fff !important;}
.option_wp{position: absolute; top:35px; left: 0; width: 512px; border: 1px solid #e6e6e6; background: #fff; z-index: 10; box-shadow: 0 3px 5px rgba(0, 0, 0, .2);}
.option_wp .option_txt{display: block; padding: 0 13px; width: 142px; height: 28px; border-bottom: 1px solid #e5e5e5; color: #969696; line-height: 28px; transition: .2s;}
.option_wp .option_txt:hover{color: #fc8321;}
.select_box_2 .option_wp { left: -130px; }
.option_wp_2 { position: absolute; top: 35px; left: 0; width: 120px; max-height: 370px; overflow: auto; border: 1px solid #e6e6e6; background: #fff; box-shadow: 0 3px 5px rgba(0, 0, 0, .2); }
.option_wp_2 a { display: block; height: 37px; line-height: 37px; padding: 0 10px; color: #6b6b6b; white-space: normal; overflow: hidden; text-overflow: ellipsis; transition: .2s; }
.option_wp_2 a:hover { background: #f3730e; color: #fff; }
/*option_list*/
.option_list { position: relative; padding: 14px 0 10px; height: 170px; overflow: auto; }
.option_group { position: relative; padding: 0 12px 0 31px; }
.option_group ul { overflow: hidden; }
.option_group li { float: left; height: 30px; line-height: 30px; width: 113px; margin-bottom: 5px; }
.option_group li a { display: inline-block; max-width: 99px; padding: 0 6px; font-size: 12px; color: #6b6b6b; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: .2s; }
.option_group li a:hover { background: #f3730e; color: #fff; }
.option_group .keyword { position: absolute; top: 5px; left: 14px; color: #fc8321; }
.option_group_min { padding: 0 12px; }
.option_group_min li { width: 117px; }
.option_group_min li a  { max-width: 105px;}

.option_group_3col { padding: 0 12px; }
.option_group_3col li { width: 157px; }
.option_group_3col li a  { max-width: 140px;}

.search_mod { width: 298px; margin: -14px auto 14px; padding: 13px 57px; background: #e3e3e3; }
.ipt_search { position: relative; height: 27px; background: #fff; }
.ipt_search input { display: block; border: none; height: 17px; width: 238px; padding: 5px 30px; }
.ipt_search input:focus { outline: none; }
.ipt_search .ico_search { position: absolute; top: 4px; left: 6px; width: 18px; height: 18px; background: url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat -155px -69px; }


/* input unit */
.ipt_wp{position: relative; margin-bottom: 7px; line-height: 30px;}
.ipt_wp .label{display: inline-block; margin-right: 14px; height: 30px; vertical-align: middle;}
.tick_box{display: inline-block; vertical-align: middle; margin-right: 4px; width: 16px; height: 16px; border: 1px solid #cbcbcb; border-radius: 1px;}
.tick_box.on{background: url(http://act.niu.xunlei.com/niuxpayts/img/ico_spr.png) no-repeat -250px -125px;}


.tip_bg{padding: 12px 20px; background: #fff6ef; text-align: center; font-size: 14px;}
.paywaycont_wp{position: relative; padding: 4px 0 0; background: #fff; clear: both; color: #969696; text-align: center; width: 520px;}
.privilege_wp{padding-left: 70px;}
.privilege_wp.fix_padl { padding-left: 56px; }
.paywaycont_wp .btn_orange{margin-bottom: 4px;}
.paywaycont_wp .lnk_addtic { color: #7e7e7e; }
.paywaycont_wp .lnk_addtic .ico_add { display: inline-block; vertical-align: -3px; width: 15px; height: 15px; margin-right: 3px; background: url(http://act.niu.xunlei.com/niuxpayts/img/ico_spr.png) no-repeat -300px -100px; }
.paywaycont_wp .pay_btn_wp{padding:8px 100px 0 0;}

.qrcodepay_wp{position: relative; font-size: 14px; line-height: 1.5; text-align: left;}
.qrcodepay_wp .pic_qrcode{position: relative;width: 160px; height: 160px; margin-left: 100px; background: #fff; border: 1px solid #e5e5e5;}
.qrcodepay_wp .pic_qrcode img{display: block; width: 100%;}
.qrcodepay_wp .pd{ padding:20px 0 0 60px;}
.qrcodepay_wp .tip_payway{ text-align: left;position: absolute; left: 310px; bottom:60px;}
.qrcodepay_wp .pic_payway{margin-bottom: 6px;}
.qrcodepay_wp .pic_payway .ico_wechat,.qrcodepay_wp .pic_payway .ico_alipay{display: inline-block; width: 30px; height: 30px; *margin-right: 5px; vertical-align: top; background: url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat -36px -110px;}
.qrcodepay_wp .pic_payway .ico_wechat{background-position: -74px -110px;}
.qrcodepay_wp .ico_pointto {position: absolute; left: -40px; top: 10px; width: 29px; height: 13px; background: url(http://act.niu.xunlei.com/niuxpayts/img/sp_pop.png) no-repeat 0 -118px;}
.pic_qrcode .qrcode_off{position: absolute; left: 0; top: 0; width: 100%; height: 100%; *padding-top: 58px;}
.pic_qrcode .qrcode_off .mask{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; -moz-opacity:0.9;filter:alpha(opacity=90);opacity:0.9; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);}
.pic_qrcode .qrcode_off .txt{position: relative; z-index: 1; margin: 68px auto 0; width: 100px; height: 28px; line-height: 28px; text-align: center; color: #fff; background: #666; background: rgba(0,0,0,.6); border-radius: 14px; cursor: default;}
/* new vip pay page end */

/**pay failed tips**/
.pay_rezult{ padding: 0 30px 30px;}
.pay_pop_wp .maintxt{margin-top: 30px; font-size: 16px; text-align: center;}
.pay_pop_wp .txt_rows li{ line-height: 30px; font-size: 14px;}
.pay_pop_wp .p_btn_wp{ width: 100%; text-align: center; }
.pay_pop_wp .p_btn_wp .btn{text-indent:0;display: inline-block; vertical-align: top; margin: 0 4px; padding: 0 20px; min-width: 80px; width: auto; height: 40px; line-height: 40px; color: #fff; font-size: 12px; background: #ffb174; transition: .2s; letter-spacing: 0;}
.pay_pop_wp .p_btn_wp .btn_orange{background: #fc8321; border-color: #fc8321; color: #fefefe;box-shadow: none; font-size: 14px;}
.pay_pop_wp .p_btn_wp .btn_orange:hover{background: #fe9525;}
.pay_pop_wp .p_btn_wp .btn_blue{background: #4591ef; border-color: #4591ef; color: #fefefe;box-shadow: none; font-size: 14px;}
.pay_pop_wp .p_btn_wp .btn_blue:hover{background: #5C9FF1;}
.pay_pop_wp .tips_min{ padding-left: 100px; font-size: 14px;}
/*animate*/
@-webkit-keyframes jump {
	0%,6%,12%,18%,24%,30%,100%{-webkit-transform:translateY(0);}
	3%,15%,27%{-webkit-transform:translateY(-5%);}
	9%,21%{-webkit-transform:translateY(5%);}
}
@keyframes jump {
	0%,6%,12%,18%,24%,30%,100%{transform:translateY(0);}
	3%,15%,27%{transform:translateY(-5%);}
	9%,21%{transform:translateY(5%);}
}
.zindex10 { position: relative; z-index: 10; }






.pay_pop_wp{position:fixed;top:50%;left:50%;margin-top:-254px;margin-left:-361px;}
.game_option_list{display:none;}
.game_option_list.on{display:block !important;}
#NiuxPayTs .fenqu_option_wp .option_group ul{display:none;}
#NiuxPayTs .fenqu_option_wp .option_group ul.on{display:block;}
#NiuxPayPop2{margin-left:-250px;}
#NiuxPayPop3, #NiuxPayPop4, #NiuxPayPop5{margin-left:-300px;}
#NiuxPayTs a:hover{text-decoration:none;}